@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #135bec;
  --color-accent: #0d9488;
  --color-background-light: #f2f4f7;
  --color-background-dark: #101622;
  --color-surface-light: #ffffff;

  --font-display: var(--font-inter);
  --font-body: var(--font-merriweather);
  --font-sans: var(--font-inter);

  --animate-fade-in-up: fadeInUp 0.8s ease-out forwards;

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
